export LANG=en_US
export EDITOR=vim
export GPG_TTY=$(tty)

# Load OS specific settings
source ${HOME}/.bash.d/platform/{{- .chezmoi.os }}

# Load functions
for ff in ~/.bash.d/functions/*.sh
do
  . $ff
done

# Load host custom settings
if [[ -f "$HOME/.bash.d/local.bash" ]]; then
  source "$HOME/.bash.d/local.bash"
fi

PATH=${PATH}:${HOME}/.local/bin

# will we go?
if [ -d ${HOME}/golang/bin ]; then
  PATH=$PATH:${HOME}/golang/bin
  export GOPATH=${HOME}/go
  export GOBIN=${HOME}/.local/bin
fi

if [ -d ${HOME}/.cargo/bin ]; then
  PATH=$PATH:${HOME}/.cargo/bin
  . "$HOME/.cargo/env"
fi
# Load aliases
for af in ~/.bash.d/aliases/*.als
do
  . $af
done

# apply local bashcomp files
if [ -d ${HOME}/.local/bash/completions ]; then
  for file in ${HOME}/.local/bash/completions/*
  do
    . $file
  done
fi

# check krew
if [ -d ${HOME}/.krew/bin ]; then
  PATH=$PATH:${HOME}/.krew/bin
fi

export PATH

# setup prompt
. ${HOME}/.bash.d/prompt
